{% extends 'base.html.twig' %}

{% block title %}Modération{% endblock %}
{% block head %}{{ encore_entry_link_tags('comment_moderation') }}{% endblock %}

{% block body %}

<div class="row justify-content-center">
    <div class="h1" align="center">Commentaires signalés :</div>
</div>
<section class="articles">
    {% for comment in comments %}
        {% if comment.reports | length >=1 %}
        <div class="container comment-to-moderate regularList">
            <div class="row">
                <div class="row">
                    <div class="col-lg-2" align="center">{{ comment.reports | length }} report(s)</div>
                    <div class="col-lg-8">
                        <div class="row col-lg-12">
                            <div class="col-lg-12">{{ comment.content | raw}}</div>
                            <div class="col-lg-12">raison(s) : </div>
                            {% for report in comment.reports %}
                                <div class="col-lg-12">{{ report.reason.reason }}</div>
                            {% endfor %}
                        </div>
                    </div>
                    <div class="col-lg-1" align="center">
                        <a href="{{ path('comment_moderate', {'id':comment.id}) }}" title="Valider le commentaire">
                            <i class="fas fa-check fa-2x"></i>
                        </a>
                    </div>
                    <div class="col-lg-1" align="center">
                        <a href="{{ path('comment_delete', {'id':comment.id}) }}" title="Effacer le commentaire">
                            <i class="fas fa-times-circle fa-2x"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        {% endif %}
    {% endfor %}
</section>
    {{ encore_entry_script_tags('comment_moderation') }}
{% endblock %}