{% extends 'base.html.twig' %}

{% block title %}Moderation{% endblock %}
{% block head %}{{ encore_entry_link_tags('activity_manage') }}{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="h1">Mes Activités :</div>
        </div>
    </div>
    <section class="articles">
        {% for comment in comments %}
            {% if comment.reports | length >=1 %}
            <div class="container comment">
                <div class="row">
                    <div class="row">
                        <div class="col-lg-1">{{ comment.reports | length }} report(s)</div>
                        <div class="col-lg-8">{{ comment.content }}</div>
                        <div class="col-lg-1">
                            <a href="{{ path('comment_moderate', {'id':comment.id}) }}" title="Valider le commentaire">
                                <i class="fas fa-check fa-2x"></i>
                            </a>
                        </div>
                        <div class="col-lg-1">
                            <a href="{{ path('comment_delete', {'id':comment.id}) }}" title="Effacer le commentaire">
                                <i class="fas fa-times-circle fa-2x"></i>
                            </a>
                        </div>
                    </div>
                    <div class="row">
                    {% for report in comment.reports %}
                        <div class="col-lg-12">{{ report.reason.reason }}</div>
                    {% endfor %}
                    </div>
                </div>
            </div>
            {% endif %}
        {% endfor %}
    </section>
    {{ encore_entry_script_tags('activity_manage') }}
{% endblock %}