{% extends 'base.html.twig' %}

{% block title %}Home{% endblock %}
{% block head %}{{ encore_entry_link_tags('home') }}{% endblock %}


{% block body %}

    <div id="template-mo-zay-hero-carousel" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
            <li data-target="#template-mo-zay-hero-carousel" data-slide-to="0" class="active"></li>
            <li data-target="#template-mo-zay-hero-carousel" data-slide-to="1"></li>
            <li data-target="#template-mo-zay-hero-carousel" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner">
            <div class="carousel-item active">
                <div class="container">
                    <div class="row p-5">
                        <div class="mx-auto col-md-8 col-lg-6 order-lg-last">
                            <img class="img-fluid" src="{{ asset('images/slide1.jpg') }}" alt="">
                        </div>
                        <div class="col-lg-6 mb-0 d-flex align-items-center">
                            <div class="text-align-left align-self-center">
                                <h1 class="h1 text-success"><b>VosgesActivités</b></h1>
                                <h3 class="h2">Bienvenue</h3>
                                <p>
                                    VosgesActivités est un site sur lequel vous trouverez tout ce qu'il y a à faire dans le massif des Vosges.<br/>
                                    Ici vous pouvez trouver des <a rel="sponsored" class="text-success" href="{{ path('activity') }}">activités</a>
                                    à pratiquer, que ce soit en extérieur ou en intérieur, avec accès aux personnes à mobilité réduite, animaux acceptés, etc...
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <div class="container">
                    <div class="row p-5">
                        <div class="mx-auto col-md-8 col-lg-6 order-lg-last">
                            <img class="img-fluid" src="{{ asset('images/slide2.jpg') }}" alt="">
                        </div>
                        <div class="col-lg-6 mb-0 d-flex align-items-center">
                            <div class="text-align-left">
                                <h1 class="h1">Activités</h1>
                                <h3 class="h2">Trouvez celle qui est faite pour vous</h3>
                                <p>
                                    Utilisez les filtres pour affiner votre choix puis selectionnez une <a class="text-success" href="{{ path('activity') }}">activité</a> parmis celles qui vous intéressent.
                                </p>
                                <p class="text-center">
                                    <i class="fas fa-home text-success"></i>
                                    <i class="fas fa-campground text-success"></i>
                                    <i class="fas fa-wheelchair text-success"></i>
                                    <i class="fas fa-paw text-success"></i>
                                    <i class="fas fa-running text-success"></i>
                                    <i class="fas fa-biking text-success"></i>
                                    <i class="fas fa-walking text-success"></i>
                                    <i class="fas fa-swimmer text-success"></i>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <div class="container">
                    <div class="row p-5">
                        <div class="mx-auto col-md-8 col-lg-6 order-lg-last">
                            <img class="img-fluid" src="{{ asset('images/slide3.jpg') }}" alt="">
                        </div>
                        <div class="col-lg-6 mb-0 d-flex align-items-center">
                            <div class="text-align-left">
                                <h1 class="h1">Activités</h1>
                                <h3 class="h2">Consulter</h3>
                                <p>Vous y trouverez toutes les informations utiles :</p>
                                <ul class="list-unstyled text-center">
                                    <li>
                                        <i class="fas fa-info text-success"></i>
                                        <span> Infos pratiques</span>
                                    </li>

                                    <li>
                                        <i class="fas fa-map-marker-alt text-success"></i>
                                        <span> Adresse</span></li>
                                    <li>
                                        <i class="fas fa-calendar-alt text-success"></i>
                                        <span> Réservation</span>
                                    </li>
                                    <li>
                                        <i class="fas fa-location-arrow text-success"></i>
                                        <span> Chemin pour s'y rendre</span>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <a class="carousel-control-prev text-decoration-none w-auto ps-3" href="#template-mo-zay-hero-carousel" role="button" data-bs-slide="prev">
            <i class="fas fa-chevron-left"></i>
        </a>
        <a class="carousel-control-next text-decoration-none w-auto pe-3" href="#template-mo-zay-hero-carousel" role="button" data-bs-slide="next">
            <i class="fas fa-chevron-right"></i>
        </a>
    </div>

    <section class="container py-5">
        <div class="row text-center pt-3">
            <div class="col-lg-6 m-auto">
                <h1 class="h1">Dernières activités :</h1>
            </div>
        </div>

        <div class="row">
            {% for activity in lastActivities %}
                <div class="col-md-4">
                    <div class="card mb-4 product-wap rounded-0">
                        <div class="card rounded-circle">
                            <img class="card-img rounded-0 img-fluid" src="
                                {% if activity.picture != "activity_default.jpg" %}
                                    {{ asset('images/'~ activity.picture) }}" alt="{{ activity.name }}
                                {% else %}
                                    {{ asset('images/activity_default.jpg') }}" alt="image default
                                {% endif %}
                            ">
                            <div class="card-img-overlay rounded-0 product-overlay d-flex align-items-center justify-content-center">
                                <ul class="list-unstyled">
                                    <li><a class="btn btn-success text-white" href="{{ path('read', {'id' : activity.id}) }}"><i class="far fa-eye"></i></a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="card-body">
                            <h3 class="h3 text-center text-truncate">{{ activity.name }}</h3>
                            <p class="card-text text-center text-truncate">{{ activity.city }}</p>
                            <p class="text-center mb-0">
                                <a href="{{ path('read' , {'id' : activity.id}) }}" class="btn btn-success col-lg-12 text-truncate">Consulter</a>
                            </p>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </section>

    <section class="bg-light text-center pt-3">
        <div class="col-lg-6 m-auto">
            <h1 class="h1">Toutes les activités</h1>
        </div>
        <div class="col-lg-12 mx-auto text-center pb-3">
            <a href="{{ path('activity') }}" class="btn btn-success col-lg-3" role="button">
                <span>Consulter</span>
                <i class="fa fa-arrow-circle-right"></i>
            </a>
        </div>
    </section>

    {{ encore_entry_script_tags('home') }}

{% endblock %}