{% extends 'base.html.twig' %}

{% block title %}Activités{% endblock %}
{% block head %}
	{{ encore_entry_link_tags('activities') }}
	<link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css" integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A==" crossorigin=""/>
	<script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"
			integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA=="
			crossorigin=""></script>


	<link href='https://api.mapbox.com/mapbox.js/plugins/leaflet-markercluster/v1.0.0/MarkerCluster.css' rel='stylesheet' />
	<link href='https://api.mapbox.com/mapbox.js/plugins/leaflet-markercluster/v1.0.0/MarkerCluster.Default.css' rel='stylesheet' />
	<script src="https://api.tiles.mapbox.com/mapbox.js/plugins/leaflet-markercluster/v0.4.0/leaflet.markercluster.js"></script>

{% endblock %}


{% block body %}
	<div class="row">
		<h1 class="col-lg-12 text-center">Activités : </h1>
	</div>

	<div class="row text-center justify-content-center" id="filterDashboard">
		<div class="row filterGroup justify-content-center">
			<div class="filter unselected" data-filter="handicaped">
				<i class="fas fa-wheelchair fa-2x"></i>
			</div>
			<div class="filter unselected" data-filter="animals">
				<i class="fas fa-dog fa-2x"></i>
			</div>
		</div>
		<div class="row filterGroup justify-content-center">
			<div class="filter unselected" data-filter="indoor">
				Intérieur
			</div>
			<div class="filter unselected" data-filter="outdoor">
				Extérieur
			</div>
		</div>

		{% for category in categories %}
			<div class="filter unselected text-truncate" data-filter="{{ category.name }}"  title="{{ category.description }}">{{ category.name }}</div>
		{% endfor %}
	</div>
	<div id="mapid"></div>
	<section class="articles row d-flex flex-wrap">
		{% for activity in activities %}
			<div class="col-lg-4 activity activityDisplayed
				{% for category in activity.category %}
					{{ category.name }}
				{% endfor %}
				{% if activity.isHandicaped==1 %} handicaped{% endif %}
				{% if activity.animals==1 %} animals{% endif %}
				{% if activity.isIndoor==1 %} indoor{% endif %}
				{% if activity.isOutdoor==1 %} outdoor{% endif %}"
			>
				<article class="col-lg-12 text-truncate ">
					<h2 class="text-truncate">{{activity.name}}</h2>
					<img src="{{ asset('images/'~ activity.picture) }}" alt="{{ activity.name }}" class="img-fluid">
					<p class="text-center">{{activity.city}}</p>
					<a href="{{ path('read', {'id':activity.id}) }}" class="col-lg-12 btn btn-primary">détails de l'activité</a>
				</article>
			</div>
		{% endfor %}
	</section>
	<div class="d-none" data-activities="{{ activities_json|raw|json_encode()}}"></div>
{% endblock %}
{% block javascripts %}
	<script>
		const data = {{ activities_json|raw|json_encode()}};
	</script>
	{{ encore_entry_script_tags('activities') }}
	<script src="https://api.tiles.mapbox.com/mapbox.js/plugins/leaflet-markercluster/v0.4.0/leaflet.markercluster.js"></script>
	<script src='https://api.mapbox.com/mapbox.js/plugins/leaflet-markercluster/v1.0.0/leaflet.markercluster.js'></script>
{% endblock %}