{% extends 'base.html.twig' %}

{% block title %}Activitité : {{ activity.name }} {% endblock %}
{% block head %}{{ encore_entry_link_tags('show') }}{% endblock %}

{% block body %}


	<section class="articles">
		<article>
			<div class="row justify-content-center">
				<div class="col-lg-12" align="center">
					<h1>{{activity.name}}</h1>
				</div>
			</div>
			{% if activity.picture != "activity_default.jpg" %}
			<div class="row justify-content-center">
				<img src="{{ asset('images/'~ activity.picture) }}" alt="{{ activity.name }}" class="img-fluid w-50">
			</div>
			{% endif %}
			<div class="row subCategory">
				<div class="col-lg-12"align="center">
					<h2>Description : </h2>
				</div>

				<div class="col-lg-12">
					{{activity.description | raw}}
				</div>
			</div>

			<div class="row subCategory align-middle">
				<div class="col-lg-12" align="center">
					Adresse : {{ activity.streetNumber}}, {{ activity.street}} {{ activity.zipcode}} {{activity.city}}
				</div>
				<div class="col-lg-12" align="center">
					<span>Itinéraire : </span>
					<a href="https://www.google.com/maps/search/?api=1&query={{ activity.latitude }},{{ activity.longitude }}">
						<i class="fas fa-map-marked fa-2x"></i>
					</a>
				</div>
			</div>
			<div class="row justify-content-center">
				<div class="col-lg-2 subCategory" align="center">
					<span>Extérieur : </span>
					<span>{% if activity.isOutdoor==1 %} <i class="fas fa-check"></i> {%else %} <i class="fas fa-times"></i> {% endif%}</span>
				</div><div class="col-lg-2 subCategory" align="center">
					<span>Intérieur : </span>
					<span>{% if activity.isIndoor==1 %} <i class="fas fa-check"></i> {%else %} <i class="fas fa-times"></i> {% endif%}</span>
				</div>
			</div>
			<div class="row justify-content-center">
				<div class="col-lg-4 subCategory" align="center">
					<span>
						<i class="fas fa-wheelchair"></i>
					</span>
					<span>Accès aux personnes à mobilité réduite : </span>
					<span>{% if activity.isHandicaped==1 %} <i class="fas fa-check"></i> {%else %} <i class="fas fa-times"></i> {% endif%}</span>
				</div><div class="col-lg-4 subCategory" align="center">
					<span>
						<i class="fas fa-paw"></i>
					</span>
					<span>Animaux acceptés : </span>
					<span>{% if activity.Animals==1 %} <i class="fas fa-check"></i> {%else %} <i class="fas fa-times"></i> {% endif%}</span>
				</div>
			</div>
			{% if activity.category|length>0 %}
				<section class="categories subCategory">
					<div class="row">
						<div class="col-12" align="center">
							<h2>Catégorie(s) :</h2>
						</div>
					</div>
					<div class="row justify-content-center">
						{% for category in activity.category %}
							<div class="col-2 text-truncate" align="center">
								{{category.name }}
							</div>
						{% endfor %}
					</div>
				</section>
			{% endif %}

		</article>

		<section class="row" id="comments">
			<div class="col-lg-12">
				<h1>{{ activity.comments | length }} Commentaire(s) : </h1>
			</div>

			{% for comment in activity.comments %}
				{% if comment.deletedAt is null %}
					<div class="comment subCategory">
						<div class="row">
							<div class="col-lg-3">
								{{ comment.user.username }} (<small>{{ comment.createdAt | date('d/m/Y à H:i') }}</small>)
								<div class="row">
									{%if app.user and app.user.id==comment.user.id%}
										<div class="col-lg-1">
											<a href="{{ path('comment_delete', {'id':comment.id}) }}">
												<i class="fas fa-times-circle"></i>
											</a>
										</div>
									{% endif %}
								</div>
							</div>
							<div class="col-9">
								{{ comment.content | raw }}
								{% if comment.moderatedAt is null %}
									<div class="row">
										<div class="col-lg-1">
											<a type="button" class="openReportModal" title="signaler" data-toggle="modal" data-comment-id="{{ comment.id }}" data-target="#CommentReportModal">
												<i class="far fa-flag"></i>
											</a>
										</div>
									</div>
								{% endif %}
							</div>
						</div>
					</div>
				{% endif %}

			{% endfor %}
			<div class="modal fade" id="CommentReportModal" tabindex="-1" role="dialog" aria-labelledby="CommentReportModal" aria-hidden="true">
				<div class="modal-dialog" role="document">
					<div class="modal-content">
						<div class="modal-header">
							<h5 class="modal-title" id="Report Comment">Report un commentaire</h5>
							<button type="button" class="close" data-dismiss="modal" aria-label="Close">
								<span aria-hidden="true">&times</span>
							</button>
						</div>
						{{form_start(reportForm)}}
						<div class="modal-body">
							{{ form_label(reportForm.reason) }}
							{{ form_widget(reportForm.reason) }}
							{{ form_errors(reportForm.reason) }}
						</div>
						<input type="hidden" name="comment_id" id="comment_id" value="">
						<div class="modal-footer">
							<button type="submit" class="btn btn-secondary">Signaler</button>
							<button type="button" class="btn btn-secondary" data-dismiss="modal">Annuler</button>
						</div>
						{{form_end(reportForm) }}
					</div>
				</div>
			</div>

			{% if app.user %}
			{{form_start(commentForm)}}
				{{ form_row(commentForm.content, {'attr': {'placeholder' : "Votre commentaire"}}) }}
				<button type="submit" class="btn btn-success">Commenter</button>
				{{form_end(commentForm)}}
			{% else %}
				<h2>vous ne pouvez pas commenter si vous n'êtes pas connecté</h2>
				<a class="btn btn-primary" href="{{ path('security_login') }}">Connexion</a>
			{% endif %}

		</section>
	</section>
	{{ encore_entry_script_tags('show') }}
{% endblock %}