{% extends 'base.html.twig' %}

{% block title %}Activitité : {{ activity.name }} {% endblock %}

{% block body %}
	<section class="articles">
		<article>
			<h1>{{activity.name}}</h1><br/>
			<h2>Description : </h2>
			{{activity.description | raw}}
			<p>Adresse : {{ activity.streetNumber}}, {{ activity.street}} {{ activity.zipcode}} {{activity.city}}</p>
			<p>Extérieur : {% if activity.isOutdoor==1 %} oui {%else %} non {% endif%}</p>
			<p>Intérieur : {% if activity.isIndoor==1 %} oui {%else %} non {% endif%}</p>
			<p>Accès aux personnes à mobilité réduite : {% if activity.isHandicaped==1 %} oui {%else %} non {% endif%}</p>
			<p>Animaux acceptés : {% if activity.Animals==1 %} oui {%else %} non {% endif%}</p>
			<section id="categories">
			{% for category in activity.category %}
				<div class="category">
					<div class="row">
						<div class="col-3">
							Catégorie(s) :
						</div>
						<div class="col-3">
							{{category.name }}
						</div>
					</div>
				</div>
			{% endfor %}
			</section>
			<p><img src="{{activity.picture}}"></p>
		</article>

		<section id="comments">
			<h1>{{ activity.comments | length }} Commentaire(s) : </h1>
			{% for comment in activity.comments %}
				<div class="comment">
					<div class="row">
						<div class="col-lg-3">
							{{ comment.user.username }} (<small>{{ comment.createdAt | date('d/m/Y à H:i') }}</small>)
							<div class="row">
								{%if app.user and app.user.id==comment.user.id%}
									<div class="col-lg-1">
										<i class="fas fa-rocket"></i>
									</div>
								{% endif %}
							</div>
						</div>
						<div class="col-9">
							{{ comment.content | raw }}
							<div class="row">
								<div class="col-lg-1">
									<a type="button" data-toggle="modal" data-target="#CommentReportModal">
										<i class="far fa-flag"></i>
									</a>

									<div class="modal fade" id="CommentReportModal" tabindex="-1" role="dialog" aria-labelledby="CommentReportModal" aria-hidden="true">
										<div class="modal-dialog" role="document">
											<div class="modal-content">
												<div class="modal-header">
													<h5 class="modal-title" id="Report Comment">Report un commentaire</h5>
													<button type="button" class="close" data-dismiss="modal" aria-label="Close">
														<span aria-hidden="true">&times;</span>
													</button>
												</div>
												<div class="modal-body">


													{{form_start(reportForm)}}


													{{form_end(reportForm)}}

													<div class="modal-footer">
														<button type="button" class="btn btn-secondary" data-dismiss="modal">Annuler</button>
														<button href="" type="button" class="btn btn-warning" data-dismiss="modal">Signaler</button>
													</div>


												</div>

											</div>
										</div>
									</div>
								</div>
							</div>
						</div>

					</div>

				</div>
			{% endfor %}

			{% if app.user %}
				{{form_start(commentForm)}}
				{{ form_row(commentForm.content, {'attr': {'placeholder' : "Votre commentaire"}}) }}
				<button type="submit" class="btn btn-success">Commenter</button>
				{{form_end(commentForm)}}
			{% else %}
				<h2>vous ne pouvez pas commenter si vous n'êtes pas connecté</h2>
				<a class="btn btn-primary" href="{{ path('security_login') }}">Connexion</a>
			{% endif %}

		</section>
	</section>
{% endblock %}