<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Vosges Activités{% endblock %}</title>

        {% block stylesheets %}{% endblock %}
		{{ encore_entry_link_tags('app') }}
		{% block head %}{% endblock %}

    </head>
    <body>
    	<nav class="navbar navbar-expand-lg navbar-light bg-light">
		  <a class="navbar-brand" href="/">Vosges Activités</a>
		  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor03" aria-controls="navbarColor03" aria-expanded="false" aria-label="Toggle navigation">
		    <span class="navbar-toggler-icon"></span>
		  </button>

		  <div class="collapse navbar-collapse" id="navbarColor03">
		    <ul class="navbar-nav mr-auto">
		      <li class="nav-item">
		        <a class="nav-link" href="{{ path('home') }}">
		        	<i class="fa fa-home fa-lg"></i>
		        	<span>Home</span>
		        </a>
		      </li>
		      <li class="nav-item">
		        <a class="nav-link" href="{{ path('activity') }}">Activites
		        	<span class="sr-only">(current)</span>
		        </a>
		      </li>
		      <li class="nav-item">
		        <a class="nav-link" href="{{ path('activity_create') }}">Création Activité</a>
		      </li>
				<li class="nav-item">
					<a class="nav-link" href="{{ path('activity_manage') }}">Gérer mes activités</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="{{ path('comment_moderation') }}">Modération</a>
				</li>
	          {% if not app.user %}
				<li class="nav-item">
					<a class="nav-link" href="{{ path('security_login') }}">Connexion</a>
				</li>
	          {% else %}
				<li class="nav-item">
					<a class="nav-link" href="{{ path('security_logout') }}">Déconnexion</a>
				</li>
	          {% endif %}
		    </ul>
		  </div>
		</nav>
		<div class="container">
			{% block body %}{% endblock %}
		</div>
		<footer class="page-footer">

				<div class="col-lg-2">
					<a href="https://github.com/LeonardDeVanGogh/VosgesActivies">
						<i class="fab fa-github fa-2x"></i>
					</a>
				</div>
				<div class="col-lg-2">
					<span>mentions légales</span>
				</div>

		</footer>
        {% block javascripts %}{% endblock %}
		{{ encore_entry_script_tags('app') }}
    </body>
</html>

